.galmain{
    background-color: #D9D9D9;
    width: 80%;
    
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
   
   
   }
   .galmain >h1{
       font-family: Outfit;
   font-size: 27px;
   font-weight: 600;
   line-height: 40px;
   letter-spacing: 0.07em;
   
   
   }
   form.galform{
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
       
   
   
   }
   .galsub{
       background-color:#141414 ;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 2%;
       gap: 10px;
       width: 40%;
       
   
   }
   
   .galin input[type=file]{
       display: none;
   }
   .galin{
       width: 50%;
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 60px;
   }
   .galin p{
       color: white;
       width: 100%;
       font-size: 10px;
       margin-top: 5px;
   }
   .galin label{
       font-family: Outfit;
   font-size: 16px;
   font-weight: 600;
   width: 80%;
   line-height: 40px;
   letter-spacing: 0.07em;
   text-align: left;
   color: #135CFF;
   background-color: white;
   white-space: nowrap;
   
   border-radius: 5px;
   
   
   
   text-align: center;
   }
   .galbutton > button{
       margin-top: 0;
       background-color: black;
       color: white !important;
   }
   .galbutton > button:hover{
    background-color: gray;
   }
   .galbutton{
    width: 100%;
    text-align: center;
   }
   .galsub >button:hover{
       background-color: gray;
       color: red;
   }
   .galline{
       display: flex;
       flex-direction: row;
       width: 60%;
       align-items: center;
       gap: 5px;
       
   }
   .galline span{
       color: white;
   }
   .galln{
       flex: 1;
       background-color: white;
       height: 3px;
   }
   .gatit{
       display: flex;
       flex-direction: column;
       gap: 2px;
       width: 80%;
   }
   .gatit label{
       background-color: none;
       white-space: nowrap;
       color: black;
       
       
   
   }
   .gatit input ,.gatit select{
    background-color: black;
    color: white;
   }
   .gatit select{
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    line-height: 40px;
    letter-spacing: 0.07em;
    text-align: left;
    
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
   }
   .galtable{
       width: 100%;
       background-color: #141414;
       border: 1px solid white;
       border-collapse: collapse;
       color: white;
   
   }
   .galtable th,.galtable td{
       border: 1px solid white;
       padding: 4px;
       text-align: center;
   }
   .gatno{
       width: 10%;
   }
   .gatnone{
       width: 20%;

   }
   .galdeletebtn{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       padding: 4px;
     
   }
   .galdeletebtn button{
       width: 40%;
       background-color: #135CFF;
       font-size: 13px;
       color: white;
       margin: 0;
   }



   .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: red;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
  }
  