.homecontainer{
    width: 100%;
    height: 100%;
}

.popupimage-overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupimage-container {
    position: relative;
   
    padding: 30px;
    border-radius: 8px;
  }
  
  .popupimage-container > button {
    position: absolute;
    top: 0px;
    right:0px;
    
    color: red;
    
    
    font-size: 20px;
    cursor: pointer;
  }
  .popupcloseimage-button{
    background: transparent;
  }
  .popupclose-button:hover {
    background-color: darkred;
  }
  
  .popupimage-container img{
    max-width:50vw;
   
    
    
  }
  
  @media (max-width: 768px){
    .popupimage-container img{
      max-width:50vw;
     
      
      
    }

  }